@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

$uptc-color: #e4a900;
$uptc-color-selected: #d19b00;
$border-color: #dfdfdf;
$bg-color: #fafafa;
$inside-color: #ffffff;

.invisible{
    display: none;
}

.navbar{
    width: 100%;
    .navbar-brand {
        img{
            
            max-height: 100px;
   
        }
    }
}
body{
    background-color: $inside-color;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    .alert{
        width: 100%;
    }
    .content{
        @include make-container();
        margin: 0;
        padding: 0; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            margin-top: 50px;
            background-color: $bg-color;
            img{
                height: 300px;
                object-fit: initial;
                // object-position: center;
            }
        }
        .calendar{
            @include media-breakpoint-up(xs) { 
                background-color: $inside-color;
                width: 380px;
                height: 380px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            @include media-breakpoint-up(lg) { 
                width: auto;
                height: 80%;
            }
            @include media-breakpoint-up(xl) { 
                width: 50%;
                height: 80%;
            }

            .calendar__head{
                cursor: default;
                display: flex;
                width: 100%;
                height: 15%;
                padding: 10px 30px 0 30px;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                border-top: 1px solid $border-color;
                background-color: $uptc-color; 
                border-top-left-radius: .25rem!important;
                border-top-right-radius: .25rem!important;
                p {
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                .calendar__arrows {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    .calendar__left{
                        text-align: center;
                        border-radius: 0.25rem;
                        margin-right: 10px;
                        height: 25px;
                        width: 25px;
                    }
                    .calendar__right{
                        text-align: center;
                        height: 25px;
                        width: 25px;
                        border-radius: 0.25rem;
                    }
                    .calendar__left:hover{
                        cursor: pointer;
                        background-color: $uptc-color-selected;
                    }
                    .calendar__right:hover{
                        cursor: pointer;
                        background-color: $uptc-color-selected;
                    }
                }
            }
            .calendar__body{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                .calendar__overlay{
                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;
                    color: white;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    .overlay__close-btn{
                        align-self: flex-end;
                        height: fit-content;
                        width: fit-content;
                        margin: 0px 10px;
                        cursor: pointer;
                        font-size: 30px;
                    }
                    .overlay__content{
                        width: 100%;
                        height: 100%;
                        padding: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        form{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            padding-bottom: 40px;
                            input[type=text], input[type=time], input[type=submit]{
                                border: none;
                                border-radius: 0.25rem;
                                display: block;
                                width: 100%;
                                height: 40px;
                            }
                            input[type=radio]{
                                margin-right: 20px;
                            }
                            label{
                                margin-right: 5px;
                                width: auto;
                            }
                            input[type=submit]{
                                background-color: $uptc-color;
                                border: none;
                                border-radius: 0.25rem;
                            }
                        }
                    }
                }
                .calendar__day{
                    .badge{
                        margin-top: 3px;
                    }
                    .badge-success:hover{
                        background-color: #1d7932;
                    }
                    .badge-info:hover{
                        background-color: #116b79;
                    }
                    @include media-breakpoint-up(xs){
                        background-color: $bg-color;
                        border: 1px solid $border-color;
                        width: 14.28%;
                        height: 20%;
                    }
                    @include media-breakpoint-up(xl){
                        padding: 5px;
                    }

                }
                .calendar__day:hover{
                    cursor: pointer;
                    background-color: lightgray;
                }
            }
        }
    }
    #footer {
        display: flex;
        align-self: flex-end;
        width: 100%;
        height: 15%;
        margin-top: 50px;
        font-weight: 500;
        align-items: center;
        background: linear-gradient(to right, rgba(212,159,26,1) 0%, rgba(245,183,26,1) 71%, rgba(232,188,84,1) 98%, rgba(232,188,84,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d49f1a', endColorstr='#e8bc54', GradientType=1 );
        @include media-breakpoint-up(md) { 
            
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}