{% from "macros.html" import calendar%}
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div class="content">
        <!-- profile --> 
        <div id="card" class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/persona.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre Apellido</h5>
                <p class="card-text">Descripcion breve y conciza de el perfil profesional del profesor.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre</li>
                <li class="list-group-item">Apellido</li>
                <li class="list-group-item">Especialidad</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <!--/profile-->
        <!-- calendar -->
        <div class="calendar">
            <div class="calendar__head">
                <P>Month</P>
                <div class="calendar__arrows">
                    <div class="calendar__left">&#60</div>
                    <div class="calendar__right">&#62</div>
                </div>
            </div>
            <div class="calendar__body">
                {{ calendar() }}
            </div>
        </div>
        <!-- /calendar -->
    </div>
    <!-- footer -->
    {% include "footer.html" %}
    <!-- /footer -->
   

{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}



