{% from "macros.html" import calendar%}
{% extends 'base.html' %}
{% block title %} {{ super() }} | Home {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div class="content">
        <!-- profile --> 
        <div id="card" class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/persona.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ user.name | capitalize}} {{ user.lastname | capitalize}}</h5>
                <p class="card-text">Descripcion breve y conciza de el perfil profesional del profesor.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre</li>
                <li class="list-group-item">Apellido</li>
                <li class="list-group-item">Especialidad</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <!--/profile-->
        <!-- calendar -->
        <div class="calendar">
            <div class="calendar__head">
                <P>Month</P>
                <div class="calendar__arrows">
                    <div class="calendar__left">&#60</div>
                    <div class="calendar__right">&#62</div>
                </div>
            </div>
            <div class="calendar__body">
                {{ calendar() }}
            </div>
        </div>
        <!-- /calendar -->
    </div>
    <!-- footer -->
    {% include "footer.html" %}
    <!-- /footer -->
   

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}



