{% from "macros.html" import calendar%}
{% import "navbar.html" as navbar %}

{% extends 'base.html' %}
{% block title %} {{ super() }} | Home {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body_attribs -%}
onload="loadCalendar()"
{%- endblock %}

{% block navbar %}
{% if user.id_coach %}
        {{ navbar.coach(logout, user) }}
{% elif user.id_athlete %}
        {{ navbar.athlete(logout, user) }}
{% else %}
        blockofcode
{% endif %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div class="content">
        <!-- profile --> 
        <div id="card" class="card" style="width: 18rem;">
            <img src="{{ user.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ user.name | capitalize}} {{ user.lastname | capitalize}}</h5>
                <p class="card-text">{{ user.biography }}</p>
            </div>
            {% if user.coach %}      
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.coach.especialization }}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ user.coach.link }}" class="card-link">Profesional profile</a>
                </div>
            {% else %}  
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.athlete.pos.description }}</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dorsal: {{ user.athlete.dorsal }}</li>
                </ul>
            {% endif %}
            
        </div>
        <!--/profile-->
        <!-- calendar -->
        <div class="calendar">
            <div class="calendar__head">
                <P>Month</P>
                <div class="calendar__arrows">
                    <div class="calendar__left">&#60</div>
                    <div class="calendar__right">&#62</div>
                </div>
            </div>
            <div class="calendar__body">
                {{ calendar() }}
            </div>
        </div>
        <!-- /calendar -->
    </div>
    <!-- footer -->
    {% include "footer.html" %}
    <!-- /footer -->
   

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        function loadCalendar(){
            alert('{{games}}')
        }
    </script>
{% endblock %}



