{% macro calendar() -%}
        {% for i in range(30) %}
        <div class="calendar__day day-{{ i+1 }}" id="day-{{ i+1 }}" data-number="{{ i+1 }}"> <span>{{ i+1 }}</span> </div>
        {% endfor %}
        <div class="calendar__day" id="day-31" data-number="31"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
{%- endmacro %}

{% macro tableAthletes(athletes) -%}
                {% for athlete in athletes %}
                                <tr>
                                        <td>{{athlete[0].name}}</td>
                                        <td>{{athlete[0].lastname}}</td>
                                        <td>{{athlete[0].id}}</td>
                                        <td>{{athlete[0].athlete.dorsal}}</td>
                                        {% if athlete[0].athlete.pos %}
                                                <td>{{athlete[0].athlete.pos.description}}</td>
                                                <td>{{ athlete[1] }}</td>
                                                <td>{{ athlete[2] }}</td>
                                                <td>{{ athlete[3] }}</td>
                                                <td>{{ athlete[4] }}</td>
                                                <td>{{ athlete[5] }}</td>
                                                <td>{{ athlete[6] }}</td>
                                                <td>{{ athlete[7] }}</td>
                                                <td>{{ athlete[8] }}</td>
                                                <td>{{ athlete[9] }}</td>
                                                <td>{{ athlete[10] }}</td>
                                                <td>{{ athlete[11] }}</td>
                                        {% endif %}
                                </tr>
                {% endfor %}
                
{%- endmacro %}

{% macro graphics(dato1, dato2) -%}

        {% if dato1 > dato2 %}
                <div class="graphic">
                        <div class="player1 bar" style="height: 50%;"><h6>{{dato1}}</h6></div>
                        <div class="player2 bar" style="height: {{((50/dato1)* dato2)}}%;"><h6>{{dato2}}</h6></div>
                </div>
        {% elif dato2 > dato1 %}
                <div class="graphic">
                        <div class="player1 bar" style="height: {{((50/dato2)* dato1)}}%;"><h6>{{dato1}}</h6></div>
                        <div class="player2 bar" style="height: 50%;"><h6>{{dato2}}</h6></div>
                </div>
        {% else %}
                <div class="graphic">
                        <div class="player1 bar" style="height: 50%;"><h6>{{dato1}}</h6></div>
                        <div class="player2 bar" style="height: 50%;"><h6>{{dato2}}</h6></div>
                </div>
        {% endif %}


{%- endmacro %}