{% macro calendar() -%}
        {% for i in range(30) %}
        <div class="calendar__day day-{{ i+1 }}" id="day-{{ i+1 }}" data-number="{{ i+1 }}"> <span>{{ i+1 }}</span> </div>
        {% endfor %}
        <div class="calendar__day" id="day-31" data-number="31"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
        <div class="calendar__day"></div>
{%- endmacro %}

{% macro tableAthletes(athletes) -%}
                {% for athlete in athletes %}
                                <tr>
                                        <th>{{athlete[0].name}}</th>
                                        <th>{{athlete[0].lastname}}</th>
                                        <th>{{athlete[0].id}}</th>
                                        <th>{{athlete[0].athlete.dorsal}}</th>
                                        {% if athlete[0].athlete.pos %}
                                        <th>{{athlete[0].athlete.pos.description}}</th>
                                        <th>{{ athlete[1] }}</th>
                                        <th>{{ athlete[2] }}</th>
                                        <th>{{ athlete[3] }}</th>
                                        <th>{{ athlete[4] }}</th>
                                        <th>{{ athlete[5] }}</th>
                                        <th>{{ athlete[6] }}</th>
                                        <th>{{ athlete[7] }}</th>
                                        <th>{{ athlete[8] }}</th>
                                        <th>{{ athlete[9] }}</th>
                                        <th>{{ athlete[10] }}</th>
                                        <th>{{ athlete[11] }}</th>
                                        {% endif %}
                                        
                                        {# 
                                                comment 
                                                <!-- <th>{{athlete.record.id.}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th>
                                                <th>{{athlete.record.id}}</th> -->
                                        #}
                                </tr>
                {% endfor %}
                
{%- endmacro %}