{% import "navbar.html" as navbar %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import tableAthletes %}


{% extends 'base.html' %}
{% block title %} {{ super() }} | View {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block navbar %}
    {% if user.id_coach %}
        {{ navbar.coach(logout, user) }}
    {% elif user.id_athlete %}
        {{ navbar.athlete(logout, user) }}
    {% else %}
        {{ navbar.nobody() }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Estadisticas</h1>
    <div class="content" style="display: flex; flex-wrap: wrap; overflow: hidden;">
        <form action="{{url_for('profile.stats')}}" method="POST">
            {# 
                comment 
                {{ select.csrf_token }}
                <div class="form-group required">
                    {{ select.position.label }}
                    {{ select.position(class="form-control") }}
                </div>
                {{ select.submit(class="form-control") }}
            #}
            {{ wtf.quick_form(select)}}
        </form>
        {# 
            <p>los jugadores son</p>{{ athletes }}
        #}
        <table border="1|0" style="display: block; overflow-x: scroll;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>dorsal</th>
                    <th>Posicion</th>
                    <th>played_time</th>
                    <th>saves</th>
                    <th>clearances</th>
                    <th>centered_passes</th>
                    <th>assists</th>
                    <th>interceptions</th>
                    <th>short_passes</th>
                    <th>long_passes</th>
                    <th>scored_goals</th>
                    <th>scored_penalties</th>
                    <th>scored_freekicks</th>
                </tr>
            </thead>
            {{ tableAthletes(athletes) }}
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- <script src="{{ url_for('static', filename='js/assess.js') }}"></script> -->
    
{% endblock %}