{% import "navbar.html" as navbar %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import tableAthletes %}


{% extends 'base.html' %}
{% block title %} {{ super() }} | View {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}

{% block navbar %}
    {% if user.id_coach %}
        {{ navbar.coach(logout, user) }}
    {% elif user.id_athlete %}
        {{ navbar.athlete(logout, user) }}
    {% else %}
        {{ navbar.nobody() }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Estadisticas</h1>
    <div class="content">
        <form action="{{url_for('profile.stats')}}" method="POST">
            {{ wtf.quick_form(select)}}
        </form>

        <table class="table table-striped" style="display: block; overflow-x: scroll;">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">dorsal</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">played_time</th>
                    <th scope="col">saves</th>
                    <th scope="col">clearances</th>
                    <th scope="col">centered_passes</th>
                    <th scope="col">assists</th>
                    <th scope="col">interceptions</th>
                    <th scope="col">short_passes</th>
                    <th scope="col">long_passes</th>
                    <th scope="col">scored_goals</th>
                    <th scope="col">scored_penalties</th>
                    <th scope="col">scored_freekicks</th>
                </tr>
            </thead>
            {{ tableAthletes(athletes) }}
        </table>
    </div>
    {% include "footer.html" %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- <script src="{{ url_for('static', filename='js/assess.js') }}"></script> -->
    
{% endblock %}