{% block doc %}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {% block html %}
        <head>
            {% block head %}
                <title>{% block title %}UPTC{% endblock title %}</title>

                {% block metas %}
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {% endblock metas %}

                {% block styles %}{% endblock styles %}
            {%- endblock head %}
        </head>
        <body {% block body_attribs %}{% endblock body_attribs %}>
            {% block body -%}

                {% block navbar %}
                {% endblock %}

                {% for message in get_flashed_messages(with_categories=true) %}
                    {% if message %}
                        {% with messages = get_flashed_messages(with_categories=true) %}     
 
                        {% endwith %}
                    {% endif %}
                {% endfor %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                <strong>{{category | capitalize }}!</strong> {{ message }}
                            </div> 
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content -%}
                {% endblock %}

                {% block scripts %}
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
                {% endblock %}

            {% endblock %}
        </body>
    {% endblock html %}
    </html>
{% endblock%}